<div th:fragment="footer">
<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Адрес: г. Нижний Новгород, ул. Березовская, дом 89, кабинет 715-37</p>
            </div>
            <div class="col-md-4">
                <h5>График работы службы поддержки:</h5>
                <p>пн-чт с 8:00 до 22:00</p>
            </div>
            <div class="col-md-4">
                <h5>Электронная почта:</h5>
                <p>vilen_oliva2023@mail.ru, z_ilist@mail.ru</p>
                <h5>Связь по телефону:</h5>
                <p>8 (909) 237-77-76</p>
            </div>
        </div>
    </div>
    <div class="text-center py-2">
        &copy; 2024 All rights reserved.
    </div>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
</div>